version: "3.8"

services:
  app:
    container_name: app
    build: .
    volumes:
      - .:/app
    command: python3 main.py & sleep 5
    depends_on:
      - mongodb
      - mongo-express
      - memory

  mongodb:
    container_name: mongo-main
    image: mongo:6-jammy
    env_file:
      .env
    ports:
      - 27017:27017
    volumes:
      - ./data/mongodb/:/data/mongodb

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    ports:
      - 28081:8081
    env_file:
      .env
    depends_on:
      - mongodb

  memory:
    image: redis:7.2.5
    container_name: memory
    ports:
      - 6379:6379
    env_file:
      .env
    volumes:
      - ./data/:/data/redis/
